<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Ninjas</h1>
    <img src="{{ url_for('static', filename='ninja.png') }}">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quam ipsum, pellentesque sed molestie sed, blandit at mauris. Suspendisse sodales in ante vel dapibus. Donec nec volutpat metus. In blandit metus nibh, a ullamcorper erat pellentesque at. Maecenas a vulputate purus. Mauris et purus vitae nisi ornare placerat vitae sed mi. Donec eget placerat massa, tincidunt elementum lacus. Sed tortor enim, pretium at blandit eget, imperdiet a quam.</p>

  </body>
</html>
